<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
<div class="header" id="header">
    <div class="left-align">
        <a href="{{ url_for('root.get_home') }}">Home</a>
        <div class="dropdown" onclick="toggle_content(this)">
            <button class="dropbtn">
                Artists<i class="arrow down"></i>
            </button>
            <div class="dropdown-content mobile-dropdown-hidden">
                <a href="{{ url_for('artists.get_list') }}">View All</a>
                <a href="{{ url_for('artists.get_list') }}">Search</a>
                <a href="{{ url_for('artists.get_popular') }}">Popular</a>
                <a href="{{ url_for('artists.get_trending') }}">Trending</a>
                <a href="{{ url_for('artists.get_recent') }}">Recently Updated</a>
                <a href="{{ url_for('favorites.get_artists') }}">Favorites</a>
                <a href="{{ url_for('random.get_random_artist') }}">Random</a>
            </div>
        </div>
        <div class="dropdown" onclick="toggle_content(this)">
            <button class="dropbtn">
                Posts<i class="arrow down"></i>
            </button>
            <div class="dropdown-content mobile-dropdown-hidden">
                <a href="{{ url_for('post.get_recent') }}">Recently Added</a>
                <a href="{{ url_for('favorites.get_posts') }}">Favorites</a>
                <a href="{{ url_for('favorites.get_favorite_artist_posts') }}">By Favorite Artists</a>
                <a href="{{ url_for('random.get_random_post') }}">Random</a>
            </div>
        </div>
        <div class="dropdown" onclick="toggle_content(this)">
            <button class="dropbtn">
                About<i class="arrow down"></i>
            </button>
            <div class="dropdown-content mobile-dropdown-hidden">
                {% include 'components/telegram_link.html' %}
                <a href="mailto:seiso.party@protonmail.com">Contact</a>
                <a href="{{ url_for('dmca.get_dmca') }}">Takedown Requests</a>
            </div>
        </div>
        <div class="dropdown" onclick="toggle_content(this)">
            <button class="dropbtn">
                Import<i class="arrow down"></i>
            </button>
            <div class="dropdown-content mobile-dropdown-hidden">
                <a href="{{ url_for('importer_page.get_importer') }}">Import</a>
                <a href="{{ url_for('leaderboard.get_leaderboard') }}">Leaderboard</a>
            </div>
        </div>
    </div>
    <div class="right-align">
        {% if is_logged_in() %}
            <div class="dropdown" onclick="toggle_content(this)">
                <button class="dropbtn">
                    Account<i class="arrow down"></i>
                </button>
                <div class="dropdown-content mobile-dropdown-hidden">
                    <a href="{{ url_for('account.get_account') }}">My Account</a>
                    <a href="{{ url_for('account.logout') }}">Logout</a>
                </div>
            </div>
        {% else %}
            <a href="{{ url_for('account.get_login') }}">Login</a>
            <a href="{{ url_for('account.get_register') }}">Register</a>
        {% endif %}
    </div>
    <div class="header-name"><a href="{{ url_for('root.get_home') }}">Seiso</a></div>
    <a style="font-size:15px;" class="icon" onclick="toggle_dropdown();">&#9776;</a>
</div>
<script src="{{ url_for('static', filename='js/header.js') }}"></script>
