div.dropdowns {
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
}

div.dropdowns > label {
    text-align: right;
}

div.dropdowns > label:after {
    content: ":";
}
