{% extends 'components/shell.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
<div class="login-container">
    <h3>Login</h3>
    <form class="login" method="POST">
        <label for="username">Username</label><input class="left-align-text" type="text" name="username"/>
        <label for="password">Password</label><input class="left-align-text" type="password" name="password">
        <input type="submit" value="Login"/>
    </form>
    <div class="register-cta">
        Don't have an account? <a href="{{ url_for('account.get_register') + get_value(data, 'query_string', '') }}">Register!</a>
    </div>
</div>
{% endblock %}
